li.species-list{
    display: flex;
    flex: 1;
}
ul.especesAnimal{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex: 1;
}

span {
    padding-top : 10px;
    padding-bottom: 10px;
    text-align: center;
}

a.nav-link.species-link{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-width:0 2px 2px 0;
    border-style:solid;
    border-color: gray;
    padding-bottom: 5px;
    padding-top: 5px;
}

a.nav-link.species-link > * {
    flex:1;
    justify-content: space-around;
}

.DescriptionEspèce,.DétailsEspèce {
    display: flex;
    flex-direction: column;
}

img.specie-img{
    width: 100px;
    height: 115px;
    margin: auto;
}
.img-centre {
    display: flex;
    justify-content: center;
}

h1.species {
    margin: 10px;
    background-color: rgb(255, 255, 0);
    border: 2mm inset rgb(128, 128, 128);
    text-align: center;
    border-radius: 15px;
}
@media (max-width: 500px){
    h1.species{
        font-size: 17px;
    }
}
@media (min-width: 500px) and (max-width: 650px) {
    h1.species{
        font-size: 23px;
    }
}
@media (min-width: 650px) and (max-width: 999px) {

    img.specie-img{
        width: 150px;
        height: 150px;
    }

    span{
        font-size: 20px;
    }
}
@media (min-width: 1000px) {
    img.specie-img{
        width: 200px;
        height: 200px;
    }

    span{
        font-size: 23px;
    }

    a.nav-link.species-link > * {
        justify-content: space-around;
    }
}