{% extends 'base.html.twig' %}

{% block title %}Liste des familles appartenant à la catégorie {{ categoryName }} {% endblock %}
{% block body %}
    <h1>Liste des familles appartenant à la catégorie {{ categoryName }}</h1>
    <ul class="famillesAnimal">
        {% for famille in families %}
            <li> {{ famille.nomFamille }} <span class="badge bg-secondary">{{ famille.descriptionFamille }} </span></li>
        {% endfor %}
    </ul>

{% endblock %}
