{% extends 'base.html.twig' %}

{% block title %}Liste des catégories présentes au sein du zoo{% endblock %}

{% block body %}
    <h1>Liste des catégories présentes au sein du zoo</h1>
    <ul class="categoriesAnimal">
        {% for categorie in categories %}
            <li> {{ categorie.nomCategorie }}   <span class="badge bg-secondary">{{ categorie.descriptionCategorie }} </span></li>

        {% endfor %}
    </ul>

{% endblock %}
