{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Ajout d'une nouvelle inscription</h1>
    {{ include('inscription/_form.html.twig', {'submit_label' : "S'inscrire"}) }}
{% endblock %}
